In [1]:
#Question1
n=int(input('Enter year number : '))
items=['monkey','rooster','dog','pig','rat','ox','tiger','rabbit','dragon','snake','horse','sheep']
print(items[n%12])

Enter year number : 1985
ox

In [2]:
#Question2
dist=int(input('Distance to be travelled: '))
w=int(input('Weight of the goods: '))
if dist>=500:
    if w>=100:
        cost=5*dist
    elif w>=10 and w<100:
        cost=6*dist
    else:
        cost=7*dist
else:
    if w>=100:
        cost=8*dist
    else:
        cost=5*dist
print('Amount to be charged: '+str(cost)+'/-')

Distance to be travelled: 520
Weight of the goods: 50
Amount to be charged: 3120/-

In [3]:
#Question3
seat=input('Type of Seat: ')
if seat=='Stalls':
    cost=625
elif seat=='Circle':
    cost=750
elif seat=='Upper Class':
    cost=850
elif seat=='Box':
    cost=1000
else:
    print('Invalid input')
    cost=0
paymode=input('Payment mode: ')
if paymode=='cash':
    cost=cost*90/100
elif paymode=='credit card':
    cost=cost*95/100
else:
    print('Invalid payment mode')
print('Cost of ticket: '+str(int(cost)))

Type of Seat: Circle
Payment mode: cash
Cost of ticket: 675

In [4]:
#Question4
M=float(input('Please enter the amount of water (kilograms) : '))
initialTemperature=float(input('Please enter the initial temperature of water (degree celsius) : '))
finalTemperature=float(input('Please enter the final temperature of water (degree celsius) : '))
Q = M * 4184 * (finalTemperature - initialTemperature)
print(f'Energy required to heat the water = {Q} joules')

Please enter the amount of water (kilograms) : 10
Please enter the initial temperature of water (degree celsius) : 35
Please enter the final temperature of water (degree celsius) : 90
Energy required to heat the water = 2301200.0 joules

In [5]:
#Question5
month=input('Enter a month name : ')
if month=='December' or month=='January' or month=='February':
    output="Winter"
elif month=='March' or month=='April' or month=='May':
    output="Spring"
elif month=='June' or month=='July' or month=='August':
    output="Summer"
elif month=='September' or month=='October' or month=='November':
    output="Autumn"
else:
    output="Invalid Input"
print(output)

Enter a month name : April
Spring

In [6]:
#Question6
weight=float(input('Enter the weight (pounds): '))
height=float(input('Enter the height (inches): '))
weight=weight*0.45359237
height=height*0.0254
bmi=weight/(height**2)
if bmi<18.5:
    interpret="Underweight"
elif bmi<25:
    interpret="Normal"
elif bmi<30:
    interpret="Overweight"
else:
    interpret="Obese"
print(f'BMI = {bmi}, you are {interpret}')

Enter the weight (pounds): 132.5
Enter the height (inches): 63
BMI = 23.47108070097975, you are Normal

In [7]:
#Question7
n=int(input('Enter an integer: '))
sum_of_d=0
for num in str(n):
    sum_of_d+=int(num)
print(f'Sum = {sum_of_d}')

Enter an integer: 745
Sum = 16

In [8]:
#Question8
for i in range(1,1001):
    if str(i)==str(i)[::-1]:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [9]:
#Question9
for i in range(1,1001):
    arms=0
    k=len(str(i))
    for j in str(i):
        arms+=int(j)**k
    if arms==i:
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [10]:
#Question10
for i in range(1,101):
    if i%3==0 and i%5==0:
        print('Fizz Buzz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz

In [11]:
#Question11
h=int(input('Height : '))
u=int(input('Meters climbed up in each step : '))
d=int(input('Meters slipped down in each step : '))
climb=0
count=0
while climb<=h:
    if climb+u>h:
        count+=1
        break
    climb+=u-d
    count+=1
print(f'Steps required to get out of well = {count}')

Height : 500
Meters climbed up in each step : 20
Meters slipped down in each step : 15
Steps required to get out of well = 98