In [ ]:
'''Question 1
print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("Predict " "Output" ,".....")'''
0.3
1.82
True
True
Predict Output .....

In [ ]:
'''Question 2
print("Prints","multiple","messages\n")
print("Concatenate "+" two strings\n")
print(5+6+" adds two numbers\n")'''
Prints multiple messages

Concatenate  two strings

Integer and string can not be concatenated. Hence, TypeError.

In [18]:
#Question 3
print("ba"+"na"*2)
print(r"C:\naresh\raju\abhi")

banana
C:\naresh\raju\abhi

In [19]:
#Question 4
print('Welcome to Python traing program'[-4::-4])
print('A series of characters designated as one object knows as a string'[2:18:5])

g anytoW
sscc

In [ ]:
'''Question 5
print('A series of characters designated as one object known as a string'[::-1][4::3])
print('-----------')
print('Welcome to Python traing program'[3:10][::-1])'''
taawkcbe  tgestrcoeeA
-----------
ot emoc
#First Line : [::-1] is the code to get reverse of the given string. Hence we get: 'gnirts a sa nwonk tcejbo eno sa detangised sretcarahc fo seires A'
#             now, [4::3] is the code to grab every 3rd character starting from the 4th index position. Hence we get 'taawkcbe  tgestrcoeeA'
#Second Line: ----------- is directly printed as a string is inside the print statement
#Third Line : First we slice the string from index 3 to index 10. Hence we get 'come to'
#             Then we reverse this string and get 'ot emoc'

In [ ]:
'''Question 6 a.
str1=True
x=5>3
print(str1==x)
y=5>8
print(str1==y)'''
True
False
#The first print statement says str1==x. Value of x is boolean. 5>3 is True, str1 is also True. hence str1==x is True
#The second print statement says str1==y. Value of y is 5>8 which is False, but str1 is True. Hence, str1==y is False

In [ ]:
'''Question 6 b.
num=7
Name="Michael Jackson"
sear_num=Name.find('el')
print(num>sear_num)'''
True
#The value of sear_num is the index number of 'e' in 'el' on its first occurrence which is 5. num=7 which is greater than 5
#Hence, num>sear_num is True

In [20]:
#Question 7
p_phrase=input()
p_phrase=p_phrase.upper()
print(p_phrase[::-1])

was it a car or a cat I saw
WAS I TAC A RO RAC A TI SAW

In [21]:
#Question 8
A=input()
print(A[1::2])

1934567
946

In [22]:
#Question 9
fake_phrase="Fake news has a knack for spreading like wild fire"
fake_phrase=fake_phrase.upper()[-11:-35:-1]
x=fake_phrase.split()
print(x)

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

In [23]:
#Question 10
msg1="Facebook already uses AI to Filter Fake stories from the feeds of users"
print(msg1.split())

['Facebook', 'already', 'uses', 'AI', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feeds', 'of', 'users']

In [ ]:
#Question 11
msg2="Welcome to sr engineering college"
x=msg2.count('o')
y=msg2.count('r')
msg2[y**x:(x**y+x+y):][::-1]

The output will be ' rs ot'
#Value of x is 3 and y is 2. y**x==8
#x**y+x+y==14
#Now the value of string msg2[y**x:(x**y+x+y):]==msg2[8:14:] will be 'to sr '
#Now we reverse this string using [::-1]. Hence we get ' rs ot'

In [ ]:
'''Question 12 a.
num1,num2="94","30"
data="As per Census 2011, Gender ratio of India is 943 females per 1000 males"
num1+num2[0] in data'''
True
#num1 is '94', num2[0] is '3'. num1+num2[0] is '943' which is present in data. Hence, output will be True

In [ ]:
'''Question 12 b.
print(data[:45],print(int(num1)+int(num2)))'''
124
As per Census 2011, Gender ratio of India is  None
#First we convert num1 and num2 to integer and add them. Hence print 124
#Next we print all characters from the start upto index 44 so we get 'As per Census 2011, Gender ratio of India is '
#None is printed because there is no return value for the print(int(num1)+int(num2)) function

In [24]:
#Question 13
M=float(input('Please enter the amount of water (kilograms) : '))
initialTemperature=float(input('Please enter the initial temperature of water (degree celsius) : '))
finalTemperature=float(input('Please enter the final temperature of water (degree celsius) : '))
Q = M * 4184 * (finalTemperature - initialTemperature)
print(f'Energy required to heat the water = {Q} joules')

Please enter the amount of water (kilograms) : 10
Please enter the initial temperature of water (degree celsius) : 25
Please enter the final temperature of water (degree celsius) : 90
Energy required to heat the water = 2719600.0 joules

In [25]:
#Question 14
x=int(input('N : '))
Z='Z'*x
O='O'*x*2
print(Z+O)

N : 5
ZZZZZOOOOOOOOOO

In [26]:
#Question 15
x=int(input('Enter 1st integer : '))
y=int(input('Enter 2nd integer : '))
pow=x**y
div=x//y
print(pow)
print(div)
print(div^(x+y))

Enter 1st integer : 3
Enter 2nd integer : 2
9
1
4